* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-img {
  width: 100px;
  height: auto;
}

.menu-list {
  margin-bottom: 20px;
}

.menuItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menuItem h3 {
  margin: 0;
  flex-basis: 100%;
}

.menuItem p {
  margin: 0;
}

.menuItem img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

input[type="text"],
input[type="tel"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #3e8e41;
}

.order-summary {
  border: 0px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}

.order-summary p {
  margin: 0;
}

.order-summary ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-summary li {
  margin-bottom: 5px;
}
