/* Оболочка для меню */
#menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

/* Заголовок категории */
.menuCategory {
  color: #333;
  font-size: 1.5em;
  margin: 20px 0;
  text-align: center;
}

/* Элемент меню */
.menuItem {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  max-width: 300px;
  overflow: hidden;
  text-align: center;
}

/* Изображение элемента меню */
.menuItem img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

/* Название элемента меню */
.menuItem h3 {
  color: #333;
  font-size: 1.2em;
  margin: 10px 0;
}

/* Описание элемента меню */
.menuItem p {
  color: #666;
  font-size: 0.9em;
  margin: 0 10px 10px;
}

/* Стоимость элемента меню */
.menuItem .price {
  color: #f00;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Количество элементов меню */
.menuItem input[type="number"] {
  border: 1px solid #ccc;
  font-size: 1em;
  padding: 5px;
  width: 50px;
}
